services:
  cv-chat-app:
    build:
      context: .
      args:
        VITE_N8N_WEBHOOK_URL: ${VITE_N8N_WEBHOOK_URL}
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=n8n-compose_default"
      - "traefik.http.routers.chatcv.rule=Host(`chatcv.duckdns.org`)"
      - "traefik.http.routers.chatcv.entrypoints=web,websecure"
      - "traefik.http.routers.chatcv.tls=true"
      - "traefik.http.routers.chatcv.tls.certresolver=mytlschallenge"
      - "traefik.http.services.chatcv.loadbalancer.server.port=80"
    networks:
      - n8n_traefik_net

networks:
  n8n_traefik_net:
    external: true
    name: n8n-compose_default

